/* ===== HEADER ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f172a;
  padding: 16px 32px;
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.logo img {
  width: 80px;
  height: auto;
  display: block;
  animation: logoFloat 2.5s ease-in-out infinite;
}

/* ===== ANIMACIÓN ===== */
@keyframes logoFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ===== MENU ===== */

.menu a {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
  overflow-x: auto;          /* 👈 permite desplazamiento */
  white-space: nowrap;       /* 👈 evita que bajen de línea */
  max-width: 100%;
}

.menu::-webkit-scrollbar {
  height: 6px;
}

.menu::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 10px;
}




